{% extends 'base.html' %}
{%load static%}
{%block content%}
<body>
    <div class="container">
   <h2>Here is a list of our Products</h2> 
   <div class="row">
   {% for product in products%}
   <div class="col-md-4">
    <div class="card mb-4">
   <a href="{%url 'product' product.id%}"><img src="{{product.picture.url}}" class="card-img-top" alt="Image" width="250px" height="250px"></a>
   <div class="card-body">
   <p class="card-title">{{product}}</p>
   <p class="card-text">ksh. {{product.price}}</p>

   <a class="btn btn-success"> Add to Cart</a>
  </div>
 </div>
</div>
   {% endfor %}
</div>
</body>
<script type="text/javascript">
   console.log('this works');

   if (localStorage.getItem('cart')==null){
      var cart = {};
   }
</script>

{% endblock %}

